@{ 
    var listSachMoi = ViewBag.listSachMoi;
    var listSachNoiBat = ViewBag.listSachNoiBat;
}

<!-- Sách mới -->
<div class="top-brands">
    <div class="container">
        <h3>Sách mới</h3>
        <div class="agile_top_brands_grids">
            @foreach (var item in listSachMoi)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"><img src="~/Content/images/tag.png" alt=" " class="img-responsive" /></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Details", "Sach", new { id = item.Masach})"><img title=" " alt=" " src="@item.Hinhminhhoa" /></a>
                                            <p>@item.Tensach</p>
                                            <h4>@item.Dongia</h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="" method="post">
                                                <fieldset>
                                                    <input type="button" name="submit" onclick="AddToCart('@item.Masach')" value="Thêm vào giỏ hàng" class="button" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //End sách mới -->

<!-- Sách nổi bật -->
<div class="top-brands">
    <div class="container">
        <h3>Sách mới</h3>
        <div class="agile_top_brands_grids">
            @foreach (var item in listSachNoiBat)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"><img src="~/Content/images/tag.png" alt=" " class="img-responsive" /></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Details", "Sach", new { id = item.Masach})"><img title="" alt="" src="@item.Hinhminhhoa" /></a>
                                            <p>@item.Tensach</p>
                                            <h4>@item.Dongia</h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="" method="post">
                                                <fieldset>
                                                    <input type="button" name="submit" onclick="AddToCart('@item.Masach')" value="Thêm vào giỏ hàng" class="button" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //End sách nổi bật -->

<!-- Add product to cart-->
<script type="text/javascript">
    function AddToCart(Masach) {
        $.ajax({
            url: "/Cart/AddToCart",
            dataType: "json", // Kiểu dữ liệu nhận từ server
            type: "POST",
            data: { id: Masach },
            success: function (data) {
                $("#TTGHang").html(data.ItemAmount);
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });
    }
</script>