@model IEnumerable<BookShop.Model.CHUDE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenchude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenchude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCD }, new { @onClick= "Bạn có chắc chắn muốn xoá ?" })
        </td>
    </tr>
}

</table>
